*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}
html{
    scroll-behavior: smooth;
}
.navbar{
    background-color: black;
    display: flex;
    top: 10px;
    align-items: center;
    text-decoration: none;
    width: 100%;
    padding: 10px 30px;
    font-size: smaller;
}
.navbar a {
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    gap: 200px;
}
.navbar img{
    height: 50px;
    gap: 2000px;
}
#team{
    border: solid;
    border-radius: 25px;
}
